
.flex-container {
    background-color: rgb(39, 148, 52);
    display: flex;
    height: 200px
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
     /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column; */
    /* flex-flow: column-reverse; */
    /* flex-flow: row; */
    /* flex-flow: row-reverse; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: stretch; */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */

  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
  }